body {
  margin: 0;
  padding-top: 2rem;
  min-height: 100vh;
  background-color: #296bb0;
  background-image: url('../src/forecast/img/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.container {
  width: 80%;
  margin: 0rem auto;
}

.h1 {
  font-weight: normal;
}

.weekForecast {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
